<ul class="actions">
  <% if current_user %>
    <% if not quote.approved? %>
      <li><%= link_to '&#10003; Approve', quote_path(:id => quote.id, :quote => { :approved => true }), :method => :put %></li>
    <% end %>
    <li><%= link_to '&#9998; Edit', [:edit, quote] %></li>
    <li><%= link_to '&#10007; Destroy', quote, :method => :delete, :confirm => "Are you sure you want to destroy quote #{quote.number}" %></li>
  <% end %>
  <% if quote.approved %>
    <li><%= link_to '&uarr; Vote up', quote_votes_path(:quote_id => quote.id, :vote_type => Vote::VOTE_TYPES[:up]), :title => 'Cast a vote for +1', :method => 'post' %></li>
    <li><%= link_to '&darr; Vote down', quote_votes_path(:quote_id => quote.id, :vote_type => Vote::VOTE_TYPES[:down]), :title => 'Cast a vote for -1', :method => 'post' %></li>
  <% end %>
</ul>

<blockquote>
  <p>
    <% quote.lines.each do |line| %>
      <span class="nick <%= line.colour %> clear_left"><%= h line.nick %></span>
      <span class="text"><%= render_italic_and_bold line.text %></span><br/>
    <% end %>
  </p>
</blockquote>

<ul class="meta">
  <% if quote.approved %>
    <li class="created_at"><%= link_to "#{quote.number} submitted #{render_formatted_date_time(quote.created_at)}", quote, :title => 'Permalink and vote history' %></li>
    <li><%= render_score(quote.score) %></li>
  <% else %>
    <li><%= quote.number %> submitted <%= render_formatted_date_time(quote.created_at) %></li>
  <% end %>
</ul>
