<h1>Quotes</h1>

<p class="large_serif">
  Quotes for #lolbot on freenode. Feel free to <%= link_to 'pinch the code', 'http://github.com/tatey/quotes/tree' %>, or if you’re a resident from the channel <%= link_to 'submit a quote', new_quote_path %>.
</p>

<ul id="switch">
  <% if current_user %>
    <li><%= link_to 'All', quotes_path %></li>
    <li><%= link_to 'Unapproved', quotes_path(:approval => 'unapproved') %></li>
  <% end %>
  <li><%= link_to 'Recent', quotes_path %></li>
  <li><%= link_to 'Highest score', quotes_path(:order => 'score_desc') %></li>
</ul>

<ul id="quotes">
  <% @quotes.each do |quote| %>
    <li class="<%= cycle('odd', 'even') %> <%= 'unapproved' if not quote.approved? %>">
      <ul class="actions">
        <% if current_user %>
          <% if not quote.approved? %>
            <li><%= link_to '&#10003; Approve', quote_path(:id => quote.id, :quote => { :approved => true }), :method => :put %></li>
          <% end %>
          <li><%= link_to '&#9998; Edit', [:edit, quote] %></li>
          <li><%= link_to '&#10007; Destroy', quote, :method => :delete, :confirm => "Are you sure you want to destroy quote #{quote.number}" %></li>
        <% end %>
        <% if quote.approved %>
          <li><%= link_to '&uarr; Vote up', quote_votes_path(:quote_id => quote.id, :vote_type => Vote::VOTE_TYPES[:up]), :title => 'Vote up', :method => 'post' %></li>
          <li><%= link_to '&darr; Vote down', quote_votes_path(:quote_id => quote.id, :vote_type => Vote::VOTE_TYPES[:down]), :title => 'Vote down', :method => 'post' %></li>
        <% end %>
      </ul>
      
      <%= render :partial => 'quote', :locals => { :quote => quote } %>
      
      <ul class="meta">
        <% if quote.approved %>
          <li class="created_at"><%= link_to "Submitted #{render_formatted_date_time(quote.created_at)}", quote %></li>
          <li><%= render_score(quote.score) %>
        <% else %>
          <li>Submitted <%= render_formatted_date_time(quote.created_at) %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<%= will_paginate @quotes %>
