<h1>Quotes</h1>

<p class="large_serif">
  Quotes for #lolbot on freenode. Feel free to <%= link_to 'pinch the code', 'http://github.com/tatey/quotes/tree' %>, or if you’re a resident from the channel <%= link_to 'submit a quote', new_quote_path %>.
</p>

<ul id="switch">
  <li><%= link_to 'Recent', quotes_path %></li>
  <li><%= link_to 'Highest score', quotes_path(:order => 'score_desc') %></li>
  <% if @unapproved_count %>
    <li><%= link_to "(#{@unapproved_count}) Unapproved", quotes_path(:approval => 'unapproved') %></li>
  <% end %>
</ul>

<ul id="quotes">
  <% @quotes.each do |quote| %>
    <li class="<%= cycle('odd', 'even') %> <%= 'unapproved' if not quote.approved? %>">
      <%= render :partial => 'quote', :locals => { :quote => quote } %>
    </li>
  <% end %>
</ul>

<%= will_paginate @quotes %>
