<h1><%= link_to 'Quotes', quotes_path %> &raquo; <%= @quote.number %></h1>

<%= render :partial => 'quote', :locals => { :quote => @quote } %>

<% if not @quote.votes.empty? %>
  <h2><%= pluralize @quote.votes.count, 'Vote' %></h2>

  <ol>
    <% @quote.votes.each do |vote| %>
      <li>
        <%= vote.characterised_vote_type %> <%= vote.humanised_vote_type %> 
        vote cast <%= distance_of_time_in_words(@quote.created_at, vote.created_at) %> later
      </li>
    <% end %>
  </ol>
<% end %>
