<h1>Quote <%= @quote.number %></h1>

<%= render :partial => 'quote', :locals => { :quote => @quote } %>

<% if not @quote.votes.empty? %>
  <h2><%= pluralize @quote.votes.count, 'Vote' %> for Quote <%= @quote.number %></h2>

  <ol>
    <% @quote.votes.each do |vote| %>
      <li>
        <%= Vote::VOTE_TYPES.index(vote.vote_type).to_s.humanize %> <%= vote.created_at %>
      </li>
    <% end %>
  </ol>
<% end %>
