<h1>Quotes</h1>

<p class="large_serif">
  Quotes for #lolbot on freenode. Feel free to <a href="http://github.com/tatey/quotes">pinch the code</a>, or if you&rsquo;re a resident from the channel <a href="/quote/new">submit a quote</a>.
</p>

<ul id="quotes">
  <% @quotes.each_with_index do |quote, index| %>
    <li id="quote_<%= quote.id %>" class="<%= odd_even(index) %>">
      <%= erb :quote, { :layout => false }, { :quote => quote } %>
    </li>
  <% end %>
</ul>

<ul id="paginator">
  <li>
    <% if @quotes.prev_page %>
      <a href="/quotes/page/<%= @quotes.prev_page %>">&#9664; Previous</a>
    <% else %>
      <span>&#9664; Previous</span>
    <% end %>
  </li>
  <% @quotes.page_range.each do |page| %>
    <li>
      <% if @quotes.current_page == page %>
        <span><%= page %></span>
      <% else %>
        <a href="/quotes/page/<%= page %>"><%= page %></a>
      <% end %>
    </li>
  <% end %>
  <li>
    <% if @quotes.next_page %>
      <a href="/quotes/page/<%= @quotes.next_page %>">Next &#9654;</a>
    <% else %>
      <span>Next &#9654;</span>
    <% end %>
  </li>
</ul>

<% if @new_quote %>
  <div id="new_quote">
  </div>
<% end %>
