<h1>Users</h1>

<p><%= link_to 'New user', new_user_path %></p>

<table>
  <thead>
    <tr>
      <th scope="col">E-mail</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td>
          <ul>
            <li><%= link_to 'Edit', [:edit, user] %></li>
            <li><%= link_to 'Delete', user, :method => :delete %></li>
          </ul>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
