<% form_for [:admin, @user] do |form| %>
  <fieldset>
    <legend>User</legend>
    
    <ol>
      <li>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </li>
      <li>
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </li>
      <li>
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </li>
      <li>
        <%= form.label :password %>
        <%= form.text_field :password %>
      </li>
      <li>
        <%= form.label :password_confirmation %>
        <%= form.text_field :password_confirmation %>
      </li>
    </ol>
    
    <%= submit_tag submit_value %>
  </fieldset>
<% end %>
