<h1>Login</h1>

<p><%= link_to 'Back to quotes', quotes_path %></p>

<% form_for @user_session do |form| %>
  <fieldset>
    <legend>Login</legend>
    
    <ol>
      <li>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </li>
      <li>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </li>
    </ol>
    
    <%= submit_tag 'Login' %>
  </fieldset>
<% end %>
