<h1>Login</h1>

<%= error_messages_for :user_session %>

<% form_for @user_session do |form| %>
  <fieldset>
    <ol>
      <li>
        <%= form.label :email %>
        <%= form.text_field :email %>
      </li>
      <li>
        <%= form.label :password %>
        <%= form.password_field :password %>
      </li>
    </ol>
    
    <%= submit_tag 'Login' %>
  </fieldset>
<% end %>
